body {
	margin: 0;
	background-color: #5AF;
	color: #FFF;
}

#header {
	height: 40px;
	width: 100%;
	text-align: center;
}

.content {
	margin: 20px auto;
	width: 700px;
	height: auto;
	background-color: #8BF;
	text-align: center;
	padding: 20px;
	border: 1px solid #FFF;
}

table {
	border-collapse: collapse;
	background-color: #8BE;
	width: 100%;
}

th, td {
	border: 1px solid #FFF;
	padding: 5px;
	text-align: center;
}

.tr:hover {
	background-color: #ADF;
	cursor: pointer;
}

.tr:nth-child(1):hover {
	background-color: inherit;
	cursor: inherit;
}

button {
	margin: 5px;
	background-color: #FFF;
	color: #222;
	outline: none;
	border: none;

	width: 80px;
	height: 60px;
	box-shadow: 2px 2px;

	cursor: pointer;
}

button:hover {
	background-color: #AFF;
}

input[type='text'] {
	width: 115px;
}